.svg-behance-dims {
	width: 23px;
	height: 23px;
}

.svg-call-dims {
	width: 15px;
	height: 15px;
}

.svg-down-dims {
	width: 20px;
	height: 20px;
}

.svg-facebook-dims {
	width: 18px;
	height: 19px;
}

.svg-instagram-dims {
	width: 15px;
	height: 15px;
}

.svg-load_more-dims {
	width: 57px;
	height: 53px;
}

.svg-logo-dims {
	width: 122px;
	height: 40px;
}

.svg-service_adv1-dims {
	width: 58px;
	height: 58px;
}

.svg-service_adv2-dims {
	width: 54px;
	height: 54px;
}

.svg-service_adv3-dims {
	width: 54px;
	height: 54px;
}

.svg-twitter-dims {
	width: 18px;
	height: 18px;
}

.svg-vk-dims {
	width: 25px;
	height: 25px;
}

