.svg-behance-dims {
	width: 23px;
	height: 23px;
}

.svg-call-dims {
	width: 15px;
	height: 15px;
}

.svg-carousel_arrow-dims {
	width: 49px;
	height: 49px;
}

.svg-down-dims {
	width: 20px;
	height: 20px;
}

.svg-facebook-dims {
	width: 18px;
	height: 19px;
}

.svg-instagram-dims {
	width: 15px;
	height: 15px;
}

.svg-load_more-dims {
	width: 57px;
	height: 53px;
}

.svg-logo-dims {
	width: 122px;
	height: 40px;
}

.svg-service_adv1-dims {
	width: 58px;
	height: 58px;
}

.svg-service_adv2-dims {
	width: 54px;
	height: 54px;
}

.svg-service_adv3-dims {
	width: 54px;
	height: 54px;
}

.svg-service_marketing1-dims {
	width: 54px;
	height: 54px;
}

.svg-service_marketing2-dims {
	width: 61px;
	height: 61px;
}

.svg-service_marketing3-dims {
	width: 57px;
	height: 57px;
}

.svg-service_poly1-dims {
	width: 51px;
	height: 51px;
}

.svg-service_poly2-dims {
	width: 51px;
	height: 51px;
}

.svg-service_poly3-dims {
	width: 53px;
	height: 53px;
}

.svg-service_seo1-dims {
	width: 51px;
	height: 51px;
}

.svg-service_seo2-dims {
	width: 51px;
	height: 52px;
}

.svg-service_seo3-dims {
	width: 51px;
	height: 51px;
}

.svg-service_site1-dims {
	width: 60px;
	height: 60px;
}

.svg-service_site2-dims {
	width: 51px;
	height: 52px;
}

.svg-service_site3-dims {
	width: 51px;
	height: 52px;
}

.svg-service_smm1-dims {
	width: 54px;
	height: 54px;
}

.svg-service_smm2-dims {
	width: 58px;
	height: 58px;
}

.svg-service_smm3-dims {
	width: 51px;
	height: 51px;
}

.svg-service_style1-dims {
	width: 51px;
	height: 51px;
}

.svg-service_style2-dims {
	width: 54px;
	height: 54px;
}

.svg-service_style3-dims {
	width: 51px;
	height: 51px;
}

.svg-service_support1-dims {
	width: 60px;
	height: 60px;
}

.svg-service_support2-dims {
	width: 54px;
	height: 54px;
}

.svg-service_support3-dims {
	width: 58px;
	height: 58px;
}

.svg-share-dims {
	width: 19px;
	height: 17px;
}

.svg-twitter-dims {
	width: 18px;
	height: 18px;
}

.svg-vk-dims {
	width: 25px;
	height: 25px;
}

