<footer class="footer">
    <div class="footer__inner">
        <div class="footer__info">
            <div class="footer__info__email">
                <a href="mailto:@@email" data-txt="@@email">@@email</a>
            </div>
            <div class="footer__info__phone">
                <a href="@@phone_link" data-txt="@@phone">@@phone</a>
            </div>
            <div class="footer__info__btn">
                <a href="#" class="btn">Заказать</a>
            </div>
        </div>
        <div class="footer__menus">
            <div class="footer__menus__inner">
                <div class="footer__menu is--services">
                    <div class="footer__menu__title">Услуги</div>
                    <ul>
                        <li><a href="#" data-overtext="Разработка сайтов">Разработка сайтов</a></li>
                        <li><a href="#" data-overtext="Контекстная реклама">Контекстная реклама</a></li>
                        <li><a href="#" data-overtext="Таргетинг+SMM">Таргетинг+SMM</a></li>
                        <li><a href="#" data-overtext="SEO — продвижение">SEO — продвижение</a></li>
                        <li><a href="#" data-overtext="Фирменный стиль">Фирменный стиль</a></li>
                        <li><a href="#" data-overtext="Техническая поддержка">Техническая поддержка</a></li>
                        <li><a href="#" data-overtext="Полиграфия">Полиграфия</a></li>
                        <li><a href="#" data-overtext="Маркетинговое исследование">Маркетинговое исследование</a></li>
                    </ul>
                </div>
                <div class="footer__menu is--studio">
                    <div class="footer__menu__title">Студия</div>
                    <ul>
                        <li><a href="#"data-overtext="О нас">О нас</a></li>
                        <li><a href="#"data-overtext="Портфолио">Портфолио</a></li>
                        <li><a href="#"data-overtext="Блог">Блог</a></li>
                        <li><a href="#"data-overtext="Вакансии">Вакансии</a></li>
                    </ul>
                </div>
                <div class="footer__menu is--contacts">
                    <div class="footer__menu__title">Контакты</div>
                    <ul>
                        <li><span>г. Орел, ул. Бульвар Победы, д. 6, 4 этаж, офис 52</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__socials">
                <div class="footer__menu__title">Мы в жизни</div>
                <div class="footer__socials__list">
                    @@include('../components/components.socials.html', {"color": "blue", "align": "right"})
                </div>
            </div>
            <div class="footer__cop">© 2019, Все права защищены </div>
        </div>
    </div>
</footer>
@@include('components.geometry.html')
@@include('components.scripts.html')