<script src="dist/js/jquery-3.3.1.min.js"></script>
<script src="dist/js/jquery.visible.min.js"></script>
<!-- <script src="dist/js/svg.min.js"></script> -->
<script src="dist/js/spyeye.js"></script>
<script src="dist/js/prefixfree.dynamic-dom.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
<script src="dist/js/anime.min.js"></script>
<script src="dist/js/jquery.fancybox.min.js"></script>
<script src="dist/js/tilt.jquery.min.js"></script>
<script src="dist/js/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANLxdBSU8fJGR5IzCxzgTbVTdgOsJXcq4&callback=initMap"></script>