<script src="dist/js/loader.js" data-type="@@loader" id="preloaderScript"></script>
<header class="navbar is--@@type is--color--@@color">
    <div class="navbar__inner">
        <div class="navbar__logo">
            <a href="@@pages.index">
                @@include('components.svg.html', {"name": "logo"})
            </a>
        </div>
        <nav class="navbar__menu">
            <ul>
                <li class="is--active"><a href="@@pages.portfolio"><span>Портфолио</span></a></li>
                <li><a href="@@pages.services"><span>Услуги и цены</span></a></li>
                <li><a href="@@pages.about"><span>О нас</span></a></li>
                <li><a href="@@pages.blog"><span>Блог</span></a></li>
                <li><a href="@@pages.jobs"><span>Вакансии</span></a></li>
                <li><a href="@@pages.contacts"><span>Контакты</span></a></li>
            </ul>
        </nav>
        <div class="navbar__phone">
            <a href="@@phone_link">
                @@include('components.svg.html', {"name": "call"})
                <span>@@phone</span>
            </a>
        </div>
        <div class="navbar__mobilebtn">
            <button id="mobileMenu">
                <span class="dot is1 is--blue"></span>
                <span class="dot is2 is--purple"></span>
                <span class="dot is3 is--pink"></span>
                <span class="dot is4 is--pink"></span>
                <span class="dot is5 is--dblue"></span>
                <span class="dot is6 is--green"></span>
                <span class="dot is7 is--purple"></span>
                <span class="dot is8 is--green"></span>
                <span class="dot is9 is--blue"></span>
            </button>
        </div>
    </div>
</header>
<div class="mobile__container">
    <nav class="mobile__container__menu">
        <ul>
            <li class="is--active"><a href="@@pages.portfolio" class="__mobLink"><span>Портфолио</span></a></li>
            <li><a href="@@pages.services" class="__mobLink"><span>Услуги и цены</span></a></li>
            <li><a href="@@pages.about" class="__mobLink"><span>О нас</span></a></li>
            <li><a href="@@pages.blog" class="__mobLink"><span>Блог</span></a></li>
            <li><a href="@@pages.jobs" class="__mobLink"><span>Вакансии</span></a></li>
            <li><a href="@@pages.contacts" class="__mobLink"><span>Контакты</span></a></li>
        </ul>
    </nav>
    <div class="mobile__container__phone">
        <a href="@@phone_link" class="__mobLink">
            @@include('components.svg.html', {"name": "call"})
            <span>@@phone</span>
        </a>
    </div>
    <div class="mobile__container__socials">
        <div class="__mobLink">@@include('../components/components.socials.html', {"color": "white", "align": "center"})</div>
    </div>
</div>