.about {
    &__video {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        video {
            min-width: 100%; 
            min-height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    &__info {
        background: $grey_bg;
        overflow: hidden;
        &__inner {
            @extend .container-xl;
            overflow: hidden;
            .heading {
                margin-bottom: 30px;
            }
        }
        &__content {
            margin-bottom: 100px;
            &__block {
                max-width: 660px;
                color: $text;
                font-size: 18px;
                line-height: 23px;
            }
        }
        &__footer {
            display: flex;
            margin: 0 -15px;
            justify-content: space-between;
            &__block {
                max-width: 430px;
                width: 100%;
                padding: 0 15px;
                &__inner {
                    display: flex;
                }
                &__num {
                    color: $blue;
                    font-family: 'Intro';
                    font-weight: 900;
                    font-size: 55px;
                    line-height: 53px;
                    span {
                        transform: rotate(-90deg);
                        display: block;
                    }
                }
                &__text {
                    color: $text;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    &__team {
        background-size: cover;
        overflow: hidden;
        .heading {
            span {
                display: block;
            }
        }
        &.is--teamPic {
            &1 {
                background-image: url(../../img/team_bg1.png);
            }
            &2 {
                background-image: url(../../img/team_bg2.png);
            }
            &3 {
                background-image: url(../../img/team_bg3.png);
            }
            &4 {
                background-image: url(../../img/team_bg4.png);
            }
            &5 {
                background-image: url(../../img/team_bg5.png);
            }
            &6 {
                background-image: url(../../img/team_bg6.png);
            }
            &7 {
                background-image: url(../../img/team_bg7.png);
            }
            &8 {
                background-image: url(../../img/team_bg8.png);
            }
            &9 {
                background-image: url(../../img/team_bg9.png);
            }
            &10 {
                background-image: url(../../img/team_bg10.png);
            }
        }
        &__inner {
            @extend .container-xl;
            g {
                pointer-events: bounding-box;
            }
        }
        &__content {
            svg {
                width: 100%;
                min-height: 330px;
            }
        }
        &__mobile {
            display: none;
            &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__block {
                max-width: 50%;
                width: 100%;
                padding: 0 15px;
                text-align: center;
                margin-bottom: 50px;
                &__img {
                    height: 230px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

.teamPic {
    position: relative;
    transition: .5s all ease;
    &.is--animated {
        animation: teamScrollAnim .5s ease;
    }
    &:hover {
        transform: translateY(-15px);
    }
    &.is--unhover {
        opacity: .5;
    }
    &#teamPic1 {animation-delay: .1s;animation-duration: 1.4s;}
    &#teamPic2 {animation-delay: .25s;animation-duration: 1.3s;}
    &#teamPic3 {animation-delay: .4s;animation-duration: 1.2s;}
    &#teamPic4 {animation-delay: .55s;animation-duration: 1.1;}
    &#teamPic5 {animation-delay: .7s;animation-duration: 1s;}
    &#teamPic6 {animation-delay: .85s;animation-duration: .9s;}
    &#teamPic7 {animation-delay: 1s;animation-duration: .8s;}
    &#teamPic8 {animation-delay: 1.15s;animation-duration: .7s;}
    &#teamPic9 {animation-delay: 1.30s;animation-duration: .6s;}
    &#teamPic10 {animation-delay: 1.45s;animation-duration: .5s;}
}

@keyframes headingA {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes teamScrollAnim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: $resp1200) {
    .about {
        &__team {
            &__content {
                svg {
                    min-height: 240px;
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .about {
        &__info {
            &__footer {
                &__block {
                    &__inner {
                        flex-wrap: wrap;
                    }
                    &__num {
                        span {
                            transform: none;
                            margin-bottom: -30px;
                            opacity: .2;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .about {
        &__video {
            video {
                left: -70%;
            }
        }
        &__info {
            &__content {
                margin-bottom: 40px;
                &__block {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            &__footer {
                flex-wrap: wrap;
                margin: 0;
                &__block {
                    max-width: 100%;
                    padding: 0;
                    margin-bottom: 30px;
                    &__inner {
                        flex-wrap: nowrap;
                        align-items: center;
                    }
                    &__num {
                        span {
                            transform: rotate(-90deg);
                            margin: 0;
                            opacity: 1;
                        }
                    }
                    &__text {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        &__team {
            &__content {
                display: none;
            }
            &__mobile {
                display: block;
            }
        }
    }
}

@media (max-width: 500px) {
    .about {
        &__team {
            &__mobile {
                &__block {
                    &__img {
                        height: 150px;
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}