.blog {
    overflow: hidden;
    &__inner {
        @extend .container-xl;
        .heading {
            margin-bottom: 40px;
        }
    }
    &__menu {
        margin-bottom: 70px;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 -5px;
            li {
                padding: 10px 5px;
                a {
                    @include borderedHover();
                    font-size: 18px;
                    color: $text;
                    display: block;
                    &.is--active {
                        span {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__list {
        overflow: hidden;
        &__inner {
            margin: 0 -60px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__block {
        max-width: 50%;
        width: 100%;
        padding: 0 60px;
        margin-bottom: 70px;
        transition: 1s all ease;
        overflow: hidden;
        &.is--hover {
            &_blue {
                .blog__block__img::after{background: $blue}
                .blog__block__title span{background-image: linear-gradient($blue 0,$blue 100%);color:#fff;};
            }
            &_dblue {
                .blog__block__img::after{background: $dblue}
                .blog__block__title span{background-image: linear-gradient($dblue 0,$dblue 100%);color:#fff;};
            }
            &_purple {
                .blog__block__img::after{background: $purple}
                .blog__block__title span{background-image: linear-gradient($purple 0,$purple 100%);color:#fff;};
            }
            &_pink {
                .blog__block__img::after{background: $pink}
                .blog__block__title span{background-image: linear-gradient($pink 0,$pink 100%);color:#fff;};
            }
        }
        &:hover {
            .blog__block__img {
                &::after {
                    left: 0;
                    width: 100%;
                    right: auto;
                }
            }
            .blog__block__title span {
                background-size: .9em .9em;
            }
        }
        &.is--right {
            margin-top: 100px;
        }
        &__img {
            margin-bottom: 35px;
            overflow: hidden;
            position: relative;
            &::after {
                width: 0%;
                height: 10px;
                position: absolute;
                bottom: 0;
                right: 0;
                left: auto;
                content: '';
                display: block;
                transition: .25s all ease-in-out;
                background: $blue;
            }
            img {
                max-width: 100%;
                width: 100%;
                display: block;
                transition: 1s all ease;
            }
        }
        &__title {
            margin-bottom: 20px;     
            span {
                transition: .25s ease;
                background-repeat: repeat-x;
                background-position: 0 65%;
                background-size: 0 0;
                line-height: 26px;
                font-size: 24px;
                font-family: 'Intro';
                font-weight: 900;
                position: relative;
                color: $text;       
            }
        }
        &__desc {
            margin-bottom: 20px;
            p {
                margin: 0;
                color: $text;
                line-height: 18px;
                font-size: 16px;
            }
        }
    }
    &__load {
        margin: 0 0 0 -30px;
        button {
            border: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background: transparent;
            padding: 0;
            outline: none;
            cursor: pointer;
            &:hover {
                .blog {
                    &__load {
                        &__svg {
                            svg {
                                fill: $blue;
                            }
                        }
                    }
                }
            }
            span {
                width: 100%;
                display: block;
                padding-top: 15px;
                font-size: 18px;
                line-height: 20px;
                color: $text;
                text-align: center;
            }
        }
        &__svg {
            width: 60px;
            height: 60px;
            transition: .5s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: $purple;
                transition: .25s all ease;
            }
        }
    }
}

.article {
    &__top {
        padding: 200px 0 100px 0;
        @include animatedGradientBg();
        &__inner {
            @extend .container-xl;
        }
        &__tags {
            margin-bottom: 50px;
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    a {
                        color: $blue;
                        font-size: 16px;
                        line-height: 18px;
                        padding: 10px 15px;
                        background: #1B243A;
                        border-radius: 5px;
                        transition: .4s all ease;
                        margin-right: 10px;
                        display: block;
                        margin-bottom: 10px;
                        &:hover {
                            background: rgba(#fff, .1);
                        }
                    }
                }
            }
        }
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__title {
                width: 100%;
                max-width: 750px;
                h1 {
                    margin: 0;
                    font-family: 'Intro';
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 65px;
                    color: #fff;
                }
            }
            &__img {
                padding-left: 100px;
                img {
                    max-width: 455px;
                    height: auto;
                    margin-top: -100px;
                }
            }
        }
    }
    &__wrap {
        &__inner {
            @extend .container-xl;
            max-width: 1060px;
            padding-left: 30px;
            padding-right: 30px;
            p {
                margin: 0 0 15px 0;
                color: $text;
                font-size: 18px;
                line-height: 20px;
            }
            h2 {
                color: $text;
                font-weight: 900;
                font-family: 'Intro';
                font-size: 48px;
                margin: 0 0 20px 0;
                line-height: 47px;
            }
            h3 {
                color: $text;
                font-family: 'Intro';
                font-weight: 900;
                font-size: 24px;
                line-height: 23px;
                margin: 0 0 20px 0;
            }
            a {
                color: $blue;
                &:hover {
                    text-decoration: underline;
                }
            }
            img {
                max-width: 100%;
                width: 100%;
                transition: .5s all ease;
            }
            a[data-fancybox] {
                cursor: e-resize;
                display: block;
                cursor: url(../../img/fancybox_cursor.png), auto;
                // background: #1A152C;
                &:hover {
                    img {
                        opacity: .3;
                    }
                }
            }
            ul {
                &.ul-site {
                    margin-bottom: 20px;
                    li {
                        margin-bottom: 10px;
                        color: $text;
                        font-size: 18px;
                        line-height: 20px;
                        position: relative;
                        padding-left: 20px;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 5px;
                            border-radius: 2px;
                            width: 10px;
                            height: 10px;
                            background: $green;
                            position: absolute;
                        }
                    }
                }
            }
        }
        &__socials {
            padding-top: 150px;
            &__title {
                font-family: 'Intro';
                font-size: 24px;
                line-height: 23px;
                font-weight: 900;
                margin-bottom: 30px;
            }
            ul {
                display: flex;
                li {
                    margin-right: 60px;
                    a {
                        svg {
                            transition: .25s all ease;
                        }
                        &:hover {
                            svg {
                                fill: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1200) {
    .blog {
        &__block {
            margin-bottom: 50px;
        }
    }
    .article {
        &__top {
            &__content {
                &__title {
                    margin-right: 0;
                    max-width: 100%;
                    width: 100%;
                    min-width: 0;
                }
                &__img {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .blog {
        &__list {
            &__inner {
                margin: 0 -20px;
            }
        }
        &__block {
            padding: 0 20px;
        }
    }
}

@media (max-width: $resp768) {
    .blog {
        &__block {
            max-width: 100%;
            &.is--right {
                margin-top: 0;
            }
            &__img {
                margin-bottom: 15px;
            }
            &__title {
                font-size: 22px;
            }
        }
        &__menu {
            margin-bottom: 30px;
            ul {
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    a {
                        font-size: 16px;
                        span {
                            padding: 0;
                        }
                    }
                }
            }
        }
        &__load {
            margin: 0 !important;
            button {
                margin: 0 auto;
                svg {
                    height: 30px;
                }
                span {
                    font-size: 16px;
                    padding-top: 10px;
                }
            }
            &__svg {
                width: 33px;
                height: 30px;
            }
        }
    }
    .article {
        &__top {
            padding: 130px 0 80px 0;
            &__tags {
                margin-bottom: 10px;
                ul {
                    li {
                        a {
                            padding: 5px 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
            &__content {
                &__title {
                    h1 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                }
            }
        }
        &__wrap {
            &__inner {
                h2 {
                    font-size: 24px;
                    line-height: 26px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
                ul.ul-site {
                    li {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
            &__socials {
                padding-top: 50px;
                &__title {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}