.portfolio {
    overflow: hidden;
    &__inner {
        @extend .container-xl;
    }
    &__wrap {
        max-width: 1315px;
        width: 100%;
        margin: 0 auto;
        &__inner {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            margin: 0 -30px;
        }
    }
    &__block {
        padding: 0 30px;
        overflow: hidden;
        max-width: 33.3333333%;
        width: 100%;
        &:hover {
            .portfolio {
                &__block {
                    &__img {
                        &::after {
                            left: 0;
                            width: 100%;
                            right: auto;
                        }
                    }
                    &__title {
                        span {
                            background-size: .9em .9em;
                        }
                    }
                }
            }
        }
        &__inner {
            display: block;
        }
        &.is--hover {
            &_blue {
                .portfolio__block__img::after{background: $blue}
                .portfolio__block__title span{background-image: linear-gradient($blue 0,$blue 100%);color:#fff;};
            }
            &_dblue {
                .portfolio__block__img::after{background: $dblue}
                .portfolio__block__title span{background-image: linear-gradient($dblue 0,$dblue 100%);color:#fff;};
            }
            &_purple {
                .portfolio__block__img::after{background: $purple}
                .portfolio__block__title span{background-image: linear-gradient($purple 0,$purple 100%);color:#fff;};
            }
            &_pink {
                .portfolio__block__img::after{background: $pink}
                .portfolio__block__title span{background-image: linear-gradient($pink 0,$pink 100%);color:#fff};
            }
        }
        &.is--right,
        &.is--left {
            margin-top: 100px;
        }
        &__img {
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            &::after {
                width: 0%;
                height: 7px;
                position: absolute;
                bottom: 0;
                right: 0;
                left: auto;
                content: '';
                display: block;
                transition: .25s all ease-in-out;
                background: $blue;
            }
            img {
                width: 100%;
                height: auto;
                cursor: url(../../img/fancybox_cursor.png), auto;
                transition: 1s all ease;
            }
        }
        &__title {
            span {
                font-size: 20px;
                line-height: 26px;
                color: $text;
                font-weight: 700;
                font-family: 'Intro';
                position: relative;
                transition: .25s ease;
                background-repeat: repeat-x;
                background-position: 0 65%;
                background-size: 0 0;
                &::after {
                    content: url(../../img/svg/share.svg);
                    padding-left: 10px;
                }
            }
        }
    }
    &page {
        overflow: hidden;
        &__inner {
            @extend .container-xl;
            .blog__menu {
                ul {
                    justify-content: flex-start;
                    margin: 0 -20px;
                    li {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

.presentation {
    padding-top: 140px;
    z-index: 9999;
    position: relative;
    &__fake {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__carousel {
        position: relative;
        &__block {
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        &__arrows {
            button {
                position: absolute;
                top: 0;
                border: none;
                height: 100%;
                outline: none;
                cursor: pointer;
                background: transparent;
                padding-left: 60px;
                padding-right: 50px;
                transition: .25s all ease;
                &:hover {
                    background: rgba(#000, .5);
                }
                svg {
                    fill: #fff;
                }
                &.is--next {
                    transform: rotate(180deg);
                    right: 0;
                }
                &.is--prev {
                    left: 0;
                }
            }
        }
    }
    &__next {
        @include animatedGradientBg();
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            height: 200px;
            span {
                font-size: 36px;
                line-height: 36px;
                color: #fff;
                display: block;
                margin-right: 20px;
            }
            svg {
                width: 27px;
                height: 27px;
                fill: #fff;
                transition: .5s all ease;
            }
            &:hover {
                svg {
                    transform: translateX(15px);
                }
            }
        }
    }
    &__desc {
        overflow: hidden;
        &__inner {
            @extend .container-xl;
            max-width: 1120px;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $text;
                margin: 0 0 40px 0;
                font-family: 'Intro';
                font-weight: 900;
            }
            h1 {
                font-size: 80px;
                line-height: 78px;
                margin-bottom: 70px;
            }
            p {
                margin: 0 0 20px 0;
                line-height: 23px;
                font-size: 18px;
                color: $text;
            }
        }
    }
}

@media (max-width: $resp1200) {
    .presentation {
        padding-top: 80px;
        &__desc {
            h1 {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}

@media (max-width: $resp1025) {
    .portfolio {
        &__wrap {
            &__inner {
                margin: 0 -15px;
            }
        }
        &__block {
            max-width: 50%;
            margin-bottom: 60px;
            padding: 0 15px;
            &.is--left,
            &.is--right {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: $resp768) {
    .portfolio {
        &__block {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
    .presentation {
        &__carousel {
            &__arrows {
                button {
                    padding-left: 10px;
                    padding-right: 10px;
                    svg {
                        width: 20px;
                    }
                }
            }
        }
        &__next {
            a {
                height: 100px;
                span {
                    font-size: 20px;
                    margin-right: 5px;
                }
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__desc {
            h1 {
                font-size: 24px;
                line-height: 26px;
            }
        }
    }
}