$services_text_color: #1C1E2B;

.services {
    &__inner {
        @extend .container-xl;
        overflow: hidden;
    }
    &__wrap {
        &__inner {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
    }
    &__block {
        max-width: 25%;
        width: 100%;
        padding: 10px;
        &.is--m_white {
            .services {
                &__block {
                    &__title {
                        color: #fff;
                    }
                    &__desc {
                        color: #fff;
                    }
                }
            }
        }
        &__inner {
            transition: .5s all ease;
            position: relative;
            z-index: 20;
        }
        &__link {
            display: block;
            position: relative;
            padding: 45px 20px 20px 20px;
            &:hover {
                .services__block__bg {
                    transform: rotate(360deg);
                }
            }
            &.is--blue {
                &:hover {
                    .services__block__title {
                        color: $blue;
                    }
                }
            }
            &.is--dblue {
                &:hover {
                    .services__block__title {
                        color: $dblue;
                    }
                }
            }
            &.is--pink {
                &:hover {
                    .services__block__title {
                        color: $pink;
                    }
                }
            }
            &.is--purple {
                &:hover {
                    .services__block__title {
                        color: $purple;
                    }
                }
            }
            &.is--green {
                &:hover {
                    .services__block__title {
                        color: $green;
                    }
                }
            }
        }
        &__bg {
            width: 38px;
            height: 13px;
            border-radius: 2px;
            position: absolute;
            left: 20px;
            top: 0;
            transition: .5s all ease;
            z-index: 10;
        }
        &__title {
            color: $services_text_color;
            font-weight: 900;
            font-family: 'Intro';
            font-size: 36px;
            line-height: 35px;
            margin-bottom: 20px;
            min-height: 70px;
            transition: .4s all ease;
        }
        &__desc {
            color: $services_text_color;
            font-size: 16px;
            line-height: 18px;
            min-height: 55px;
            transition: .4s all ease;
            min-height: 90px;
        }
        &.is--blue {
            .services__block {
                &__bg {
                    background: $blue;
                }
            }
        }
        &.is--green {
            .services__block {
                &__bg {
                    background: $green;
                }
            }
        }
        &.is--dblue {
            .services__block {
                &__bg {
                    background: $dblue;
                }
            }
        }
        &.is--pink {
            .services__block {
                &__bg {
                    background: $pink;
                }
            }
        }
        &.is--purple {
            .services__block {
                &__bg {
                    background: $purple;
                }
            }
        }
    }
    &p {
        &__top {
            @include animatedGradientBg();
            padding-top: 130px;
        }
    }
    &cur {
        &__top {
            @include animatedGradientBg();
            overflow: hidden;
            &__inner {
                padding-top: 150px;
            }
            &__wrap {
                @extend .container-xl;
                display: flex;
                align-items: flex-start;
                min-height: calc(100vh - 150px);
            }
            &__menu {
                margin-right: 120px;
                margin-top: auto;
                padding-bottom: 80px;
                &__container {
                    ul {
                        li {
                            padding-top: 30px;
                            a {
                                @include bgLink(18px, 3px, $blue, #fff);
                                font-family: 'Intro Book';
                                font-weight: normal;
                                color: #fff;
                                white-space: nowrap;
                            }
                            &.is--active {
                                a {
                                    &::after,
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__info {
                padding-top: 100px;
                width: 100%;
                padding-bottom: 80px;
                &__title {
                    font-weight: 900;
                    font-family: 'Intro';
                    font-size: 80px;
                    line-height: 70px;
                    color: #fff;
                    margin-bottom: 55px;
                    white-space: nowrap;
                }
                &__price {
                    font-size: 24px;
                    line-height: 27px;
                    color: #fff;
                    margin-bottom: 70px;
                    span {
                        position: relative;
                        &::after {
                            content: url(../../img/svg/ryble.svg);
                            width: 15px;
                            height: 29px;
                        }
                    }
                }
                &__btn {
                    margin-bottom: 90px;
                }
                &__list {
                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 45px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &__icon {
                        margin-right: 30px;
                        svg {
                            fill: $pink;
                        }
                    }
                    &__text {
                        max-width: 240px;
                        font-size: 18px;
                        color: #fff;
                        line-height: 20px;
                        white-space: nowrap;
                    }
                }
            }
            &__ill {
                position: absolute;
                max-width: 40%;
                svg {
                    height: auto;
                }
                &.is--adv {
                    width: 100%;
                    right: 5%;
                    bottom: 10%;
                }
                &.is--site {
                    width: 100%;
                    right: 2%;
                    bottom: -20px;
                }
                &.is--smm {
                    width: 100%;
                    right: 5%;
                    bottom: 10%;
                }
                &.is--seo {
                    width: 100%;
                    right: 0%;
                    bottom: 1%;
                    max-width: 26%;
                }
                &.is--style {
                    width: 100%;
                    right: -10%;
                    bottom: 13%;
                }
                &.is--support {
                    width: 100%;
                    right: -5%;
                    bottom: 0%;
                }
                &.is--poly {
                    width: 100%;
                    right: 0%;
                    bottom: 0%;
                }
                &.is--marketing {
                    width: 100%;
                    right: -4%;
                    bottom: 10%;
                }
            }
        }
    }
    &-icons {
        overflow: hidden;
        &.is--bg_grey {
            background: $grey_bg;
        }
        &.is--bg_dark {
            background: #0A1032;
            .heading,
            .services-icons__block__text {
                color: #fff;
            }
            .bgtext {
                &::after {
                    color: #fff;
                }
            }
        }
        .heading {
            margin-bottom: 50px;
        }
        &__inner {
            @extend .container-xl;
        }
        &__wrap {
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    max-width: 33.33333%;
                    width: 100%;
                }
            }
        }
        &__block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 40px 20px;
            &:hover {
                .services-icons {
                    &__block {
                        &__icon {
                            img {
                                // transform: rotate(10deg) scale(1.1);
                            }
                        }
                    }
                }
            }
            &__icon {
                height: 155px;
                margin-bottom: 30px;
                width: 100%;
                text-align: center;
                img {
                    height: 100%;
                    width: auto;
                    transition: .8s all ease;
                }
            }
            &__text {
                width: 100%;
                text-align: center;
                font-size: 18px;
                color: $text;
                line-height: 20px;
                margin: 0 auto;
            }
        }
    }
    &-infoblocks {
        overflow: hidden;
        &.is--bg_grey {
            background: $grey_bg;
        }
        &__inner {
            @extend .container-xl;
        }
        &__wrap {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -30px;
                &.is--cols3 {
                    li {
                        max-width: 33.333333%;
                    }
                }
                &.is--cols2 {
                    padding: 0 120px;
                    li {
                        max-width: 50%;
                    }
                }
            }   
        }
        &__block {
            position: relative;
            margin-bottom: 100px;
            padding: 0 30px;
            &__inner {
                padding: 55px 0 0 10px;
            }
            &__title,
            &__desc {
                color: $text;
            }
            &__title {
                font-size: 24px;
                line-height: 23px;
                font-weight: bold;
                font-family: 'Intro';
                min-height: 50px;
                margin-bottom: 10px;
            }
            &__desc {
                font-size: 16px;
                line-height: 18px;
            }
            &::after {
                content: attr(data-id);
                position: absolute;
                left: 0;
                top: 0;
                color: #000;
                opacity: .05;
                font-weight: 900;
                font-family: 'Intro';
                font-size: 250px;
                line-height: 180px;
            }
        }
    }
    &-process {
        min-height: 100vh;
        overflow: hidden;
        background: #0A1032;
        .heading {
            color: #fff;
        }
        &__inner {
            @extend .container-xl;
        }
        &__wrap {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        &__block {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            &__inner {
                display: flex;
                width: 50%;
                align-items: center;
            }
            &__circle {
                background: #2A2C3D;
                border-radius: 100%;
                span {
                    display: flex;
                    width: 90px;
                    height: 90px;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Intro';
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 40px;
                    &.is--blue {
                        color: $blue;
                    }
                    &.is--purple {
                        color: $purple;
                    }
                    &.is--pink {
                        color: $pink;
                    }
                    &.is--green {
                        color: $green;
                    }
                }
            }
            &__text {
                font-size: 18px;
                line-height: 20px;
                color: #fff;
                width: 100%;
            }
            &.is--left {
                .services-process__block {
                    &__inner {
                        margin-right: auto;
                    }
                    &__circle {
                        margin-right: 25px;
                    }
                }
            }
            &.is--right {
                .services-process__block {
                    flex-flow: wrap;
                    &__inner {
                        margin-left: auto;
                    }
                    &__circle {
                        margin-left: 25px;
                        order: 1;
                    }
                    &__text {
                        text-align: right;
                    }
                }
            }
        }
    }
    &-accordion {
        overflow: hidden;
        &.is--bg_dark {
            background: #0A1032;
            .heading {
                color: #fff;
            }
            .services-accordion__block {
                &.is--open {
                    background: rgba(#fff, .1);
                }
                &__title,
                &__content p,
                &__content ul li{
                    color: #fff;
                }
                &__content ul li::before {
                    background: #fff;
                }
                &__title {
                    &__ico {
                        span {
                            background: #fff !important;
                            &::before,
                            &::after {
                                background: linear-gradient(180deg, #1A1535 0%, #140F4F 100%), #7229FF;
                            }
                        }
                    }
                }
            }
        }
        .heading {
            margin-bottom: 30px;
        }
        &__inner {
            @extend .container-xl;
        }
        &__wrap {
            max-width: 1200px;
            width: 100%;
        }
        &__block {
            margin-bottom: 10px;
            transition: .25s all ease;
            &__title {
                h1 {
                    margin: 0;
                    color: $text;
                    font-family: 'Intro';
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 35px;
                    cursor: pointer;
                }
                padding: 40px 50px 40px 100px;
                position: relative;
                user-select: none;
                &__ico {
                    position: absolute;
                    top: 40px;
                    left: 30px;
                    span {
                        width: 38px;
                        height: 38px;
                        background: linear-gradient(180deg, #1A1535 0%, #140F4F 100%), #7229FF;
                        display: block;
                        border-radius: 100%;
                        position: relative;
                        transition: .25s all ease;
                        &::after,
                        &::before {
                            width: 17px;
                            height: 2px;
                            background: #fff;
                            content: '';
                            display: block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 50%;
                            margin-top: -1px;
                            border-radius: 2px;
                            transition: .25s all ease;
                        }
                        &::before {
                            transform: translateX(-50%) rotate(90deg);
                        }
                    }
                }
            }
            &__content {
                padding: 0px 50px 40px 100px;
                p {
                    margin: 0 0 20px 0;
                    color: $text;
                    font-size: 16px;
                    line-height: 18px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                ul {
                    li {
                        position: relative;
                        padding-left: 20px;
                        margin-bottom: 10px;
                        &::before {
                            content: '';
                            left: 0;
                            top: 5px;
                            border-radius: 2px;
                            width: 10px;
                            height: 10px;
                            background: #B5B9D6;
                            position: absolute;
                        }
                    }
                }
            }
            &.is--open {
                background: #EEEFF8;
                .services-accordion__block__title {
                    &__ico {
                        span {
                            background: #B5B9D6;
                            &::before {
                                transform: translateX(-50%) rotate(0deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes faIll {
    50% {
        transform: translateY(15px)
    }
}

@media (max-width: 1450px) {
    .services {
        &__block {
            &__title {
                font-size: 30px;
                line-height: 26px;
                min-height: 60px;
            }
        }
        &-infoblocks {
            &__block {
                margin-bottom: 20px;
                &__title {
                    font-size: 22px;
                }
                &__desc {
                    font-size: 14px;
                    line-height: 16px;
                }
                &::after {
                    font-size: 130px;
                }
            }
        }
        &-icons {
            &__block {
                &__icon {
                    height: 110px;
                }
                &__text {
                    font-size: 16px;
                }
            }
        }
        &-accordion {
            &__block {
                &__title {
                    h1 {
                        font-size: 26px;
                    }
                    padding-bottom: 30px;
                    padding-top: 30px;
                    &__ico {
                        top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .services {
        &__block {
            max-width: 33.33333%;
        }
    }
}

@media (max-width: $resp1025) {
    .services {
        &__block {
            max-width: 50%;
        }
        &-icons {
            &__wrap {
                ul {
                    li {
                        max-width: 50%;
                    }
                }
            }
        }
        &-infoblocks {
            &__wrap {
                ul {
                    &.is--cols2 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    li {
                        max-width: 50% !important;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .services {
        &__block {
            max-width: 100%;
            padding: 0;
            margin-bottom: 30px;
            &__title,
            &__desc {
                min-height: 0;
            }
            &__link {
                padding: 30px 15px 15px 15px;
            }
        }
        &p {
            &__top {
                padding-top: 70px;
            }
        }
        &-icons {
            &__block {
                padding: 20px 5px;
                &__icon {
                    height: 70px;
                }
                &__text {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        &-infoblocks {
            &__wrap {
                ul {
                    li {
                        max-width: 100% !important;
                    }
                }
            }
            &__block {
                margin-bottom: 30px;
                &__title {
                    font-size: 20px;
                    line-height: 18px;
                    min-height: 0;
                    br {
                        display: none;
                    }
                }
                &::after {
                    font-size: 200px;
                    left: 10%;
                }
            }
        }
        &-process {
            min-height: 0;
            &__block {
                margin-bottom: 30px;
                &__inner {
                    width: 100%;
                }
                &__text {
                    font-size: 14px;
                    line-height: 16px;
                }
                &__circle {
                    span {
                        width: 60px;
                        height: 60px;
                        font-size: 26px;
                    }
                }
            }
        }
        &-accordion {
            &__block {
                &__title {
                    h1 {
                        font-size: 20px;
                        line-height: 24px;
                    }
                    padding: 20px 20px 20px 50px;
                    &__ico {
                        top: 20px;
                        left: 10px;
                        span {
                            width: 28px;
                            height: 28px;
                            &::before,
                            &::after {
                                width: 12px;
                            }
                        }
                    }
                }
                &__content {
                    padding: 0 20px 20px 50px;
                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .servicescur {
        &__top {
            &__wrap {
                align-items: center;
            }
            &__menu {
                margin-right: 60px;
            }
            &__info {
                padding-top: 1px;
                &__title {
                    font-size: 60px;
                    line-height: 65px;
                    margin-bottom: 30px;
                }
                &__price {
                    font-size: 22px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }
                &__btn {
                    margin-bottom: 60px;
                }
                &__list {
                    &__icon {
                        margin-right: 20px;
                        svg {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    &__text {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    ul {
                        li {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            &__ill {
                max-width: 30%;
                &.is--site {
                    right: 5%;
                    bottom: 0px;
                }
                &.is--adv {
                    right: 5%;
                    max-width: 35%;
                }
                &.is--seo {
                    right: 5%;
                    max-width: 22%;
                    bottom: 8%;
                }
                &.is--smm {
                    bottom: 20%;
                }
                &.is--style {
                    right: 2%;
                    bottom: 20%;
                }
                &.is--support {
                    right: 2%;
                    bottom: 0%;
                    max-width: 32%;
                }
                &.is--poly {
                    right: 2%;
                    bottom: 0%;
                }
                &.is--marketing {
                    right: 2%;
                    bottom: 10%;
                }
            }
        }
    }
}

@media (max-width: $resp1200) {
    .servicescur {
        &__top {
            &__info {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 0;
                height: 100%;
                &__title {
                    font-size: 40px;
                    line-height: 45px;
                    width: 100%;
                }
                &__price {
                    width: 100%;
                    font-size: 20px;
                }
                &__btn {
                    width: 100%;
                    margin-bottom: 120px;
                }
                &__list {
                    width: 100%;
                    margin-top: auto;
                }
            }
            &__wrap {
                padding-bottom: 30px;
            }
            &__menu {
                display: none;
            }
        }
    }
}

@media (max-width: $resp768) {
    .servicescur {
        &__top {
            &__inner {
                padding-top: 100px;
            }
            &__wrap {
                flex-wrap: wrap;
            }
            &__info {
                margin-bottom: 50px;
                &__title {
                    font-size: 30px;
                    line-height: 34px;
                    margin-bottom: 10px;
                    white-space: pre-wrap;
                    br {
                        display: none;
                    }
                }
                &__price {
                    font-size: 16px;
                }
                &__btn {
                    margin-bottom: 60px;
                }
                &__list {
                    &__icon {
                        svg {
                            width: 35px;
                            height: 35px;
                        }
                    }
                    &__text {
                        white-space: pre-wrap;
                        font-size: 14px;
                        line-height: 16px;
                        br {
                            display: none;
                        }
                    }
                }
            }
            &__ill {
                max-width: 400px !important;
                position: static;
                svg {
                    height: auto;
                }
            }
        }
    }
}

@media (max-height: 940px) {
    .servicesp {
        &__top {
            padding-top: 80px;
        }
    }
    .servicescur__top__inner {
        padding-top: 90px;
    }
    .servicescur__top__wrap {
        min-height: calc(100vh - 90px);
    }
} 