$services_text_color: #1C1E2B;

.services {
    &__inner {
        @extend .container-xl;
        overflow: hidden;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }
    &__block {
        max-width: 25%;
        width: 100%;
        padding: 10px;
        &.is--m_white {
            .services {
                &__block {
                    &__title {
                        color: #fff;
                    }
                    &__desc {
                        color: #fff;
                    }
                }
            }
        }
        &__inner {
            transition: .5s all ease;
            position: relative;
            z-index: 20;
        }
        &__link {
            display: block;
            position: relative;
            padding: 45px 20px 20px 20px;
            &:hover {
                .services__block__bg {
                    transform: rotate(360deg);
                }
            }
            &.is--blue {
                &:hover {
                    .services__block__title {
                        color: $blue;
                    }
                }
            }
            &.is--dblue {
                &:hover {
                    .services__block__title {
                        color: $dblue;
                    }
                }
            }
            &.is--pink {
                &:hover {
                    .services__block__title {
                        color: $pink;
                    }
                }
            }
            &.is--purple {
                &:hover {
                    .services__block__title {
                        color: $purple;
                    }
                }
            }
            &.is--green {
                &:hover {
                    .services__block__title {
                        color: $green;
                    }
                }
            }
        }
        &__bg {
            width: 38px;
            height: 13px;
            border-radius: 2px;
            position: absolute;
            left: 20px;
            top: 0;
            transition: .5s all ease;
            z-index: 10;
        }
        &__title {
            color: $services_text_color;
            font-weight: 900;
            font-family: 'Intro';
            font-size: 36px;
            line-height: 35px;
            margin-bottom: 20px;
            min-height: 70px;
            transition: .4s all ease;
        }
        &__desc {
            color: $services_text_color;
            font-size: 16px;
            line-height: 18px;
            min-height: 55px;
            transition: .4s all ease;
        }
        &.is--blue {
            .services__block {
                &__bg {
                    background: $blue;
                }
            }
        }
        &.is--green {
            .services__block {
                &__bg {
                    background: $green;
                }
            }
        }
        &.is--dblue {
            .services__block {
                &__bg {
                    background: $dblue;
                }
            }
        }
        &.is--pink {
            .services__block {
                &__bg {
                    background: $pink;
                }
            }
        }
        &.is--purple {
            .services__block {
                &__bg {
                    background: $purple;
                }
            }
        }
    }
    &p {
        &__top {
            @include animatedGradientBg();
            padding-top: 130px;
        }
    }
    &cur {
        &__top {
            @include animatedGradientBg();
            overflow: hidden;
            &__inner {
                padding-top: 150px;
            }
            &__wrap {
                @extend .container-xl;
                display: flex;
                align-items: flex-end;
                padding-bottom: 80px;
                min-height: calc(100vh - 150px);
            }
            &__menu {
                margin-right: 120px;
                &__container {
                    ul {
                        li {
                            padding-top: 30px;
                            a {
                                @include bgLink(18px, 3px, $blue, #fff);
                                font-family: 'Intro Book';
                                font-weight: normal;
                                color: #fff;
                                white-space: nowrap;
                            }
                            &.is--active {
                                a {
                                    &::after,
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__info {
                width: 100%;
                &__title {
                    font-weight: 900;
                    font-family: 'Intro';
                    font-size: 80px;
                    line-height: 70px;
                    color: #fff;
                    margin-bottom: 55px;
                    white-space: nowrap;
                }
                &__price {
                    font-size: 24px;
                    line-height: 27px;
                    color: #fff;
                    margin-bottom: 70px;
                }
                &__btn {
                    margin-bottom: 90px;
                }
                &__list {
                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 45px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &__icon {
                        margin-right: 30px;
                        svg {
                            fill: $pink;
                        }
                    }
                    &__text {
                        max-width: 240px;
                        font-size: 18px;
                        color: #fff;
                        line-height: 20px;
                    }
                }
            }
            &__ill {
                margin-left: auto;
                height: 100%;
                svg {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .services {
        &__block {
            &__title {
                font-size: 30px;
                line-height: 26px;
                min-height: 60px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .services {
        &__block {
            max-width: 33.33333%;
        }
    }
}

@media (max-width: $resp1025) {
    .services {
        &__block {
            max-width: 50%;
        }
    }
}

@media (max-width: $resp768) {
    .services {
        &__block {
            max-width: 100%;
            padding: 0;
            margin-bottom: 20px;
            &__title,
            &__desc {
                min-height: 0;
            }
            &__link {
                padding: 30px 15px 15px 15px;
            }
        }
        &p {
            &__top {
                padding-top: 70px;
            }
        }
    }
}