main {
    overflow: hidden;
}

body {
    height: auto !important;
}

.container {
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    padding: 0 60px;
    max-width: 1610px;
}

.v__content {
    color: #1B1531;
    &__heading {
        font-weight: bold;
        font-size: 64px;
        line-height: 97%;
        font-family: 'Intro';
        margin-bottom: 30px;
        @media (max-width: 768px) {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
    &__desc {
        p {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            margin-bottom: 30px;
            li {
                font-size: 16px;
                line-height: 18px;
                &::before {
                    content: '- ';
                }
            }
        }
        @media (max-width: 768px) {
            p, ul li {
                font-size: 16px;
            }
        }
    }
}

.bl {
    &-btn {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Intro';
        font-weight: bold;
        padding: 14px 17px;
        position: relative;
        display: inline-block;
        transition: .25s all ease;
        position: relative;
        z-index: 2;
        &:hover {
            &::after {
                height: 20%;
            }
        }
        &.is--yellow {
            &::after {
                background: #FFBD12;
            }
        }
        &.is--gr {
            &::after {
                background: #7DC5BB;
            }
            &:hover {
                color: #7DC5BB;
            }
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: .25s all ease;
        }
    }
    &-one {
        min-height: 100vh;
        overflow: hidden;
        width: 100vw;
        position: relative;
        &__img {
            background-image: url(../../../../img/landings/bl-block1.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
            min-height: 100vh;
            width: 80%;
            position: absolute;
            right: 0;
            top: 0;
        }
        &__clouds {
            position: absolute;
            bottom: 31vh;
            right: 0;
            animation: animationFrames linear 45s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            width: 47vw;
            img {
                width: 100%;
            }
        }
        &__inner {
            @extend .container;
            display: flex;
            align-items: center;
            min-height: 100vh;
        }
        &__heading {
            font-weight: bold;
            font-size: 65px;
            line-height: 97.5%;
            color: #1C1E2B;
            font-family: 'Intro';
            margin-bottom: 40px;
        }
        &__desc {
            font-size: 16px;
            line-height: 18px;
            color: #1C1E2B;
            margin-bottom: 60px;
        }
    }
    &-tw {
        background: #EEEFF8;
        padding: 140px 0 160px 0;
        &__inner {
            @extend .container;
        }
        &__heading {
            margin-bottom: 90px;
            font-family: 'Intro';
            font-weight: bold;
            font-size: 64px;
            line-height: 97.5%;
            color: #1B1531;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            .services__block {
                max-width: 33.33333%;
            }
        }
    }
    &-th {
        position: relative;
        &__video {
            video {
                width: 100%;
                transform: translateX(270px);
                vertical-align: middle;
            }
        }
        &__text {
            position: absolute;
            width: 100%;
            @extend .container;
            left: 0;
            right: 0;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            &__inner {
                max-width: 710px;
            }
        }
    }
    &-four {
        .bg-fpage__right {
            &::after {
                content: 'categories';
                color: #FFFFFF;
                opacity: 0.2;
                top: -16%;
                right: 0;
            }
        }
    }
    &-five {
        .bg-fpage__right {
            &::after {
                content: 'map';
                color: #1B1531;
                opacity: 0.05;
                top: 0;
                left: 0;
            }
        }
    }
    &-sx {
        position: relative;
        &__item {
            min-height: 100vh;
            height: 100%;
            background-size: cover;
            background-position: center;
            position: relative;
            &__block {
                z-index: 100;
                position: absolute;
                width: 605px;
                right: 200px;
                bottom: 75px;
                padding: 60px 50px 70px 70px;
                background: rgba(#fff, .69);
                border-left: 5px solid #363832;
                border-bottom: 5px solid #363832;
                border-right: 5px solid #363832;
                &::before {
                    width: 53%;
                    height: 5px;
                    background: #363832;
                    left: 0;
                    top: 0;
                    position: absolute;
                    content: '';
                }
                &::after {
                    content: '';
                    width: 240px;
                    height: 70px;
                    background: url(../../../../img/landings/bl-block6_line.svg);
                    position: absolute;
                    bottom: calc(100% - 5px);
                    right: -1px;
                }
                &__heading {
                    color: #1B1531;
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 97%;
                    font-family: 'Intro';
                    margin-bottom: 40px;
                }
                &__desc {
                    font-size: 16px;
                    line-height: 18px;
                    color: #1B1531;
                }
            }
        }
        &__controls {
            button {
                z-index: 101;
                position: absolute;
                background: #9883A6;
                padding: 0;
                border: none;
                outline: none;
                cursor: pointer;
                height: 100px;
                width: 60px;
                top: 50%;
                margin-top: -50px;
                svg {
                    fill: #fff;
                }
                &.is--next {
                    right: 0;
                }
                &.is--prev {
                    left: 0;
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
    &-se {
        position: relative;
        &__video {
            video {
                width: 100%;
                vertical-align: middle;
            }
        }
        &__text {
            position: absolute;
            width: 100%;
            @extend .container;
            left: 0;
            right: 0;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &__inner {
                max-width: 650px;
            }
        }
    }
    &-ei {
        background: url(../../../../img/landings/bl-block8_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        &__inner {
            height: 100%;
        }
        &__homes {
            &__home1 {
                position: absolute;
                bottom: 0;
                right: 350px;
                padding-left: 40vw;
            }
            &__home2 {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-left: 60vw;
            }
            &__home {
                height: 100%;
                display: flex;
                align-items: flex-end;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: block;
                    animation-duration: 1.5s;
                }
            }
        }
        .bl-eip__block {
            position: relative;
            &::before,
            &::after {
                height: 200px;
                width: 1px;
                background: #fff;
                content: '';
                position: absolute;
            }
            &::before {
                top: 0;
                left: 20%;
            }
            &::after {
                bottom: 0;
                left: 6%;
            }
            &__wrap {
                position: relative;
                &::before,
                &::after {
                    height: 1px;
                    width: 40%;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    content: '';
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
            }
        }
    }
    &-ni {
        background: url(../../../../img/landings/bl-block9_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &__inner {
            height: 100%;
        }
        .bl-eip__block {
            padding-top: 130px;
            padding-bottom: 130px;
            position: relative;
            &::before {
                content: '';
                width: 1px;
                height: 100%;
                left: 6%;
                top: 0;
                position: absolute;
                border-left: 1px dashed #fff;
            }
            &::after {
                content: '';
                width: 15px;
                height: 15px;
                left: 6%;
                top: 35%;
                position: absolute;
                background: #fff;
                transform: translateX(-7px);
            }
            &__inner {
                padding-left: 130px;
            }
        }
        &__laptop {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-left: 60vw;
            align-items: center;
            height: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }
    &-eip {
        &__block {
            @extend .container;
            display: flex;
            align-items: center;
            padding-top: 200px;
            padding-bottom: 200px;
            &__wrap {
                padding-top: 130px;
                padding-bottom: 130px;
            }
            &.is--white {
                color: #fff;
            }
            &.is--dark {
                color: #2E2E2E;
            }
            &__heading {
                font-family: 'Intro';
                font-weight: bold;
                font-size: 96px;
                line-height: 97.5%;
                margin-bottom: 35px;
            }
            &__desc {
                font-size: 16px;
                line-height: 113%;
                margin-bottom: 80px;
            }
        }
    }
    &-te {
        position: relative;
        overflow: hidden;
        &__particle {
            position: absolute;
            &__c1 {
                background: #DEE9A9;
                width: 668px;
                height: 668px;
                position: absolute;
                left: -120px;
                bottom: -15%;
                border-radius: 100%;
            }
            &__c2 {
                background: #E7C564;
                width: 414px;
                height: 414px;
                position: absolute;
                top: -20%;
                right: 80px;
                border-radius: 100%;
            }
            &__sq1 {
                background: #A2D8E9;
                width: 106px;
                height: 106px;
                position: absolute;
                top: 10%;
                left: 20%;
            }
            &__pr1 {
                background: #7DC5BB;
                width: 274px;
                height: 40px;
                position: absolute;
                transform: rotate(30deg);
                bottom: 10%;
                left: 40%;
            }
        }
        &__pr {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            display: flex;
            align-items: flex-end;
            z-index: 99;
            width: 100%;
            justify-content: flex-end;
            img {
                transform: translateX(30%);
                max-width: 90%;
                width: 100%;
            }
        }
    }
    &-el {
        padding-top: 260px;
        padding-bottom: 260px;
        background: url(../../../../img/landings/bl-block11_bg.png);
        background-size: cover;
        background-position: center;
        &__inner {
            @extend .container;
        }
        &__block {
            max-width: 1360px;
            width: 100%;
            margin: 0 auto;
            background: rgba(60, 177, 164, 0.78);
            padding: 85px 130px;
            text-align: center;
            backdrop-filter: blur(10px);
            &__heading {
                font-weight: bold;
                font-size: 96px;
                line-height: 97.5%;
                color: #fff;
                font-family: 'Intro';
                margin-bottom: 50px;
            }
            &__desc {
                font-size: 18px;
                line-height: 113%;
                color: #fff;
                margin-bottom: 60px;
            }
        }
    }
}

.bg-fpage {
    padding-top: 220px;
    padding-bottom: 180px;
    overflow: hidden;
    &.is--blc {
        background: #1CD0C5;
        color: #fff;
    }
    &.is--whc {
        background: #EEEFF8;
        color: #1B1531;
    }
    &.is--left {
        .bg-fpage {
            &__left {
                margin-right: 40px;
                order: 0;
            }
            &__right {
                order: 1;
            }
        }
    }
    &.is--right {
        .bg-fpage {
            &__left {
                margin-left: 40px;
                order: 1;
            }
            &__right {
                order: 0;
            }
        }
    }
    &__inner {
        display: flex;
        @extend .container;
        align-items: center;
        flex-flow: wrap;
        flex-wrap: nowrap;
    }
    &__left {
        max-width: 850px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__right {
        min-width: 670px;
        width: 670px;
        position: relative;
        &::after {
            z-index: -1;
            font-weight: 900;
            font-size: 250px;
            font-family: 'Intro';
            position: absolute;
            line-height: 60%;
        }
    }
    &__heading {
        font-family: 'Intro';
        font-weight: bold;
        font-size: 64px;
        line-height: 97%;
        margin-bottom: 40px;
    }
    &__desc {
        font-size: 16px;
        line-height: 18px;
        ul {
            li {
                &::before {
                    content: '- ';
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .bg {
        &-fpage {
            &__right {
                min-width: 450px;
                width: 450px;
                &::after {
                    font-size: 200px;
                }
            }
            &__heading {
                font-size: 44px;
            }
        }
    }
    .bl {
        &-se {
            &__video {
                display: none;
            }
            padding-top: 100px;
            padding-bottom: 100px;
            &__video {
                display: none;
            }
            &__text {
                position: static;
                justify-content: flex-start;
            }
        }
        &-ei {
            .bl-eip__block {
                &::before,
                &::after {
                    height: 100px;
                }
                &::after {
                    left: 10%;
                }
            }
        }
        &-ni {
            .bl-eip__block {
                &::before,
                &::after {
                    left: 10%;
                }
            } 
        }
        &-eip {
            &__block {
                padding-top: 100px;
                padding-bottom: 100px;
                &__heading {
                    font-size: 68px;
                }
                &__desc {
                    max-width: 550px;
                    br {
                        display: none;
                    }
                }
            }
        }
        &-te {
            &__pr {
                img {
                    max-width: 70%;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .bl {
        &-one {
            &__clouds {
                bottom: 15vh;
            }
            &__heading {
                font-size: 46px;
            }
        }
        &-sx {
            &__item {
                &__block {
                    width: 450px;
                    padding: 40px 30px 40px 30px;
                    right: 100px;
                    &::before {
                        width: 45%;
                    }
                    &__heading {
                        font-size: 40px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &-ni {
            &__laptop {
                display: none;
            }
            .bl-eip__block {
                &__inner {
                    padding-left: 20%;
                }
            }
        }
        &-el {
            padding-top: 130px;
            padding-bottom: 130px;
            &__block {
                padding-left: 40px;
                padding-right: 40px;
                &__heading {
                    font-size: 46px;
                    margin-bottom: 30px;
                }
                &__desc {
                    br {
                        display: none;
                    }
                }
            }
        }
        &-th {
            &__video {
                video {
                    opacity: .6;
                }
            }
        }
        
    }
}

@media (max-width: 1025px) {
    .bl {
        &-tw {
            &__list {
                .services__block {
                    max-width: 50%;
                }
            }
        }
        &-ei {
            &__homes {
                display: none;
            }
        }
        &-eip {
            &__block {
                min-height: 0;
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
        &-te {
            &__pr {
                display: none;
            }
            &__particle {
                transform: scale(.5);
            }
        }
        &-th {
            padding-top: 100px;
            padding-bottom: 100px;
            &__video {
                display: none;
            }
            &__text {
                position: static;
            }
        }
    }
    .bg {
        &-fpage {
            &__inner {
                flex-wrap: wrap;
            }
            &__left {
                order: 0 !important;
                margin: 0 0 30px 0 !important;
            }
            &__right {
                min-width: 0;
                width: 100%;
                order: 1 !important;
                &::after {
                    font-size: 150px;
                }
            }
            &__heading {
            }
        }
    }
}

@media (max-width: 768px) {
    .bl {
        &-one {
            &__clouds {
                bottom: 1vh;
            }
            &__heading {
                font-size: 28px;
                margin-bottom: 20px;
                br {
                    display: none;
                }
            }
            &__desc {
                margin-bottom: 30px;
            }
        }
        &-tw {
            padding-top: 40px;
            padding-bottom: 40px;
            &__heading {
                font-size: 40px;
                margin-bottom: 30px;
            }
            &__list {
                .services__block {
                    max-width: 100%;
                }
            }
        }
        &-sx {
            &__item {
                padding: 50px 30px 100px 30px;
                min-height: 0;
                &__block {
                    position: relative;
                    right: 0;
                    width: 100%;
                    bottom: 0;
                    border-top: 5px solid #363832;
                    &::after,
                    &::before {
                        content: none;
                    }
                    &__heading {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                }
            }
            &__controls {
                button {
                    width: 50%;
                    height: 50px;
                    top: auto;
                    bottom: 0;
                    margin-top: 0;
                }
            }
        }
        &-ei {
            .bl-eip__block {
                &::after,
                &::before {
                    height: 50px;
                }
                &::before {
                    left: 30%;
                }
                &::after {
                    left: 12%;
                }
            }
        }
        &-ni {
            .bl-eip__block {
                padding-top: 10px;
                padding-bottom: 10px;
                &::before,
                &::after {
                    left: 12%;
                }
            } 
        }
        &-eip {
            &__block {
                padding-top: 50px;
                padding-bottom: 50px;
                &__wrap {
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                &__heading {
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                &__desc {
                    margin-bottom: 40px;
                }
            }
        }
        &-te {
            &__particle {
                transform: scale(.3);
            }
        }
        &-el {
            padding-top: 50px;
            padding-bottom: 50px;
            &__block {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 35px;
                padding-bottom: 35px;
                &__heading {
                    font-size: 28px;
                }
                &__desc {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }
        }
        &-th,
        &-se {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bg {
        &-fpage {
            padding-top: 50px;
            padding-bottom: 50px;
            &__heading {
                font-size: 28px;
                margin-bottom: 20px;
            }
            &__right {
                &::after {
                    top: 10% !important;
                    font-size: 100px;
                }
            }
        }
    }
}

@keyframes animationFrames{
  0% {
    transform:  translate(100%, 0%);
    opacity: 1;
  }
  90% {
      opacity: 1;
  }
  95% {
      opacity: 0;
  }
  100% {
    opacity: 0;
    transform:  translate(-60vw,-40px);
  }
}