body {
    font-family: 'Intro Book';
    font-weight: normal;
    line-height: normal;
    position: relative;
    &.is--mobmenu {
        overflow: hidden;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::-moz-selection {
    color: #fff;
    background: #2C0754;
  }
  
::selection {
  color: #fff;
  background: #2C0754;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// #svgDavid path {
//     transition: 1s all ease;
// }

svg {
    overflow: visible;
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}