.social {
    display: flex;
    align-items: center;
    li {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            svg {
                transition: .25s all ease;
            }
        }
    }
    &.is--right {
        li {
            margin-left: 60px;
        }
    }
    &.is--left {
        li {
            margin-right: 60px;
        }
    }
    &.is--center {
        justify-content: center;
        li {
            margin: 0 10px;
        }
    }
    &.is--white {
        li {
            a {
                svg {
                    fill: #fff;
                }
                &:hover {
                    svg {
                        fill: $blue;
                    }
                }
            }
        }
    }
}