.container {
    &-xl {
        max-width: 1580px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        z-index: 100;
    }
    &-md {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        z-index: 100;
    }
}