.container {
    &-xl,
    &-md {
        width: 100%;
        margin: 0 auto;
        z-index: 100;
        position: relative;
        padding: 0 60px;
    }
    &-xl {
        max-width: 1610px;
    }
    &-md {
        max-width: 1320px;
    }
}

.slide {
    padding: 80px 0;
}

.page {
    padding-top: 140px;
}

.heading {
    font-family: 'Intro' !important;
    font-weight: 900;
    font-size: 80px;
    line-height: 78px;
    margin-bottom: 90px;
    &.is--black {
        color: #21293E;
    }
    &.is--white {
        color: #fff;
    }
    &.is--bgtext {
        padding: 50px 0 0 100px;
        position: relative;
        &::after {
            content: attr(data-bgtext);
            position: absolute;
            left: 0;
            top: 20px;
            font-size: 210px;
            font-family: 'Intro';
            font-weight: 900;
            width: 0;
            overflow: hidden;
            color: #1C1E2B;
            opacity: 0.05;
            height: 100%;
        }
        &.is--active {
            &::after {
                width: 100%;
                transition: 10s all ease;
            }
        }
    }
}

.bgtext {
    &::after {
        content: attr(data-bgtext);
        position: absolute;
        left: 35%;
        top: -2.5%;
        font-size: 160px;
        font-family: 'Intro';
        font-weight: 900;
        width: 0;
        overflow: hidden;
        color: #1C1E2B;
        opacity: 0.05;
        z-index: -1;
        line-height: 210px;
    }
    &.is--active {
        &::after {
            width: 100%;
            transition: 10s all ease;
        }
    }
    &--white {
        &::after {
            color: #fff;
        }
    }
    &--service {
        &::after {
            left: 25px;
            top: -36px;
        }
    }
}

.visblock {
    overflow: hidden;
    .blog__block__inner,
    .portfolio__block__inner {
        transition: 1s all ease;
        opacity: 0;
        display: block;
        transform: translateY(500px);
    }
    &.is--visible {
        .blog__block__inner,
        .portfolio__block__inner {
            opacity: 1;
            transform: none;
        }
    }
}

@media (max-width: 1440px) {
    .heading {
        font-size: 50px;
        line-height: 48px;
        margin-bottom: 40px;
    }
    .bgtext {
        &--service {
            &::after {
                top: -1.5%;
                font-size: 140px;
                line-height: 140px;
            }
        }
    }
    .slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 1300px) {
    .bgtext {
        &::after {
            font-size: 140px;
            top: -1%;
            line-height: 140px;
        }
    }
}

@media (max-width: $resp1200) {
    .heading {
        &.is--bgtext {
            padding-top: 0;
            padding-left: 0;
            &::after {
                content: none;
            }
        }
    }
    .page {
        padding-top: 80px;
    }
    .bgtext {
        &--service {
            &::after {
                top: -70px;
                font-size: 120px;
            }
        }
    }
}

@media (max-width: $resp768) {
    .container {
        &-xl,
        &-md {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .heading {
        font-size: 40px;
        line-height: 38px;
        margin-bottom: 30px;
        br {
            display: none;
        }
    }
    .slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bgtext {
        &::after {
            content: none;
        }
    }
}

@media (max-height: 940px) {
    .page {
        padding-top: 90px;
    }
}