@mixin borderedHover() {
    padding: 5px;
    span {
        position: relative;
        display: block;
        padding: 5px;
        &::after {
            content: '';
            width: 0;
            height: 30%;
            background: $blue;
            transition: .4s all ease;
            left: 0;
            top: 58%;
            z-index: -1;
            position: absolute;
        }
    }
    &:hover {
        span {
            &::after {
                width: 100%;
            }
        }
    }
}

@mixin bgLink($fontsite, $top, $mainColor, $subColor) {
    font-size: $fontsite;
    font-family: 'Intro';
    font-weight: 900;
    color: $mainColor;
    position: relative;
    &::after {
        content: attr(data-txt);
        position: absolute;
        left: 0;
        top: 0;
        color: $subColor;
        overflow: hidden;
        width: 0;
        transition: .7s all ease;
        white-space: nowrap;
        z-index: 20;
    }
    &::before {
        content: '';
        width: 0;
        height: $fontsite;
        background: $mainColor;
        position: absolute;
        top: $top;
        left: 0;
        overflow: hidden;
        transition: .7s all ease;
        z-index: 10;
    }
    &:hover {
        &::after,
        &::before {
            width: 100%;
        }
    }
    @media (max-width: $resp768) {
        &::after,
        &::before {
            content: none;
        }
    }
}

@mixin animatedGradientBg() {
    background-image: url(../../img/bg_frame1.jpg);
    background-size: cover;
    background-position: center;
    animation: 8s ease-in-out 0s normal none infinite bg;
}

@keyframes bg {
    0% {
        background-image: url(../../img/bg_frame1.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
    20% {
        background-image: url(../../img/bg_frame2.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
    40% {
        background-image: url(../../img/bg_frame3.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
    60% {
        background-image: url(../../img/bg_frame4.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
    80% {
        background-image: url(../../img/bg_frame5.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
    100% {
        background-image: url(../../img/bg_frame1.jpg);
        background-size: cover;
        background-position: center;
        background-color: #230A46;
    }
}