@mixin borderedHover() {
    padding: 5px;
    span {
        position: relative;
        display: block;
        padding: 5px;
        &::after {
            content: '';
            width: 0;
            height: 30%;
            background: $blue;
            transition: .4s all ease;
            left: 0;
            top: 58%;
            z-index: -1;
            position: absolute;
        }
    }
    &:hover {
        span {
            &::after {
                width: 100%;
            }
        }
    }
}