$navbarbg: #040F29;

.navbar {
    position: fixed;
    height: 140px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100000;
    display: flex;
    transition: .25s all ease;
    font-family: 'Intro';
    &::after {
        content: '';
        background: $navbarbg;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        transition: .5s all ease;
        transform: translateY(-150px);
    }
    &.is--dark {
        &::after {
            transform: none !important;
        }
    }
    &.is--hide {
        transform: translateY(-100%);
    }
    &.is--fixed {
        height: 100px;
        &::after {
            width: 100%;
            transform: none;
        }
        .navbar {
            &__logo {
                svg {
                    fill: #fff !important;
                }
            }
            &__menu a,
            &__phone span {
                color: #fff !important;
            }
        }
    }
    &.is--color {
        &--dark {
            .navbar {
                &__logo {
                    svg {
                        fill: #1C1E2B;
                    }
                }
                &__menu {
                    ul {
                        li {
                            a {
                                color: #1C1E2B;
                            }
                        }
                    }
                }
                &__phone {
                    a {
                        span {
                            color: #1C1E2B;
                        }
                    }
                }
            }
        }
    }
    &__inner {
        @extend .container-xl;
        display: flex;
        align-items: center;
    }
    &__logo {
        a {
            display: block;
            position: relative;
            svg {
                fill: #fff;
            }
        }
    }
    &__menu {
        margin: 0 auto;
        ul {
            display: flex;
            li {
                padding: 0 30px;
                a {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.14em;
                    text-transform: uppercase;
                    color: #fff;
                    display: block;
                    @include borderedHover();
                }
                &.is--active {
                    a {
                        span {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__phone {
        margin-left: auto;
        a {
            display: flex;
            align-items: center;
            font-size: 17px;
            @include borderedHover();
            svg {
                fill: $blue;
            }
            span {
                margin-left: 10px;
                color: #fff;
            }
        }
    }
    &__mobilebtn {
        display: none;
        margin-left: auto;
        button {
            height: 50px;
            width: 50px;
            padding: 0;
            border: none;
            display: flex;
            flex-wrap: wrap;
            background: none;
            outline: none;
            cursor: pointer;
            justify-content: center;
            transition: .5s all ease;
            span {
                &.dot {
                    display: block;
                    height: 9px;
                    width: 9px;
                    margin: 3px;
                    border-radius: 100%;
                    transition: .4s all ease;
                }
                &.is--blue {
                    background: $blue;
                }
                &.is--purple {
                    background: $purple;
                }
                &.is--green {
                    background: $green;
                }
                &.is--pink {
                    background: $pink;
                }
                &.is--dblue {
                    background: $dblue;
                }
            }
            &.is--active {
                transform: rotate(180deg) !important;
                span {
                    &.dot {
                        &.is2 {
                            transform: translate3d(0, 15px, 0);
                            opacity: 0;
                        }
                        &.is4 {
                            transform: translate3d(15px, 0, 0);
                            opacity: 0;
                        }
                        &.is6 {
                            transform: translate3d(-15px, 0, 0);
                            opacity: 0;
                        }
                        &.is8 {
                            transform: translate3d(0, -15px, 0);
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.mobile__container {
    position: fixed;
    height: 100vh;
    width: 320px;
    z-index: 15000;
    background: $navbar;
    top: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Intro';
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    &__menu {
        padding: 140px 0 0 0;
        margin-bottom: 20px;
        width: 100%;
        ul {
            li {
                overflow: hidden;
                text-align: center;
                a {
                    font-size: 18px;
                    color: #fff;
                    display: block;
                    padding: 15px 20px;
                }
            }
        }
    }
    &__phone {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        a {
            color: #fff;
            font-size: 17px;
            svg {
                fill: $blue;
            }
        }
    }
    &__socials {
        margin-top: auto;
        margin-bottom: 70px;
        overflow: hidden;
        span {
            display: block;
        }
    }
}

@media (max-width: 1500px) {
    .navbar {
        &__menu {
            ul {
                li {
                    padding-left: 10px;
                    padding-right: 10px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1200) {
    .navbar {
        height: 80px !important;
        transform: none !important;
        &__logo {
            svg {
                fill: #fff !important;
            }
        }
        &__menu,
        &__phone {
            display: none;
        }
        &__mobilebtn {
            display: flex;
        }
        &__inner {
            background: $navbarbg;
        }
    }
    .mobile__container {
        display: flex;
        width: 100vw;
        &__menu {
            padding-top: 100px;
        }
    }
}

@media (max-height: 940px) {
    .navbar {
        height: 80px !important;
    }
}