$blue: #19B4EE;
$dblue: #4263A8;
$green: #1CD0C5;
$purple: #8D67C3;
$pink: #F376A2;

$navbar: #040f29;
$text: #1C1E2B;

$resp1920:                              1920px;
$resp1400:                              1400px;
$resp1200:                              1200px;
$resp1025:                              1025px;
$resp768:                               768px;
$resp320:                               320px;